<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POLLS index</title>
</head>
<body>
{% if latest_question_list %}
{#    # 변수나 쿼리셋이 왔거나 안왔거나 (조건) 했을 때#}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.pk %}">
{#        이거랑 url링크랑 차이#}
        {{ question.question_text }}
    </a></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
</body>
</html>