{% extends 'polls/base.html' %}
{% block title %}Polls Index{% endblock %}

{% block content %}


    {% if latest_question_list %}
        {#    # 변수나 쿼리셋이 왔거나 안왔거나 (조건) 했을 때#}
        <ul>
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:detail' question.pk %}">
                    {#        이거랑 url링크랑 차이#}
                    {{ question.question_text }}
                </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

{% endblock %}